.home {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

.home-inner {
  text-align: center;
}

.home-name {
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 0.08em;
  color: #2c4d3a; /* 제목 */
}

.home-title {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #2c4d3a;
  /* 서브 타이틀 */
}

.home-title span {
  color: #2FA36B;
  /* 강조 */
}

.home-desc {
  margin-top: 1.2rem;
  font-size: 1.15rem;
  line-height: 1.6;
  color: #2c4d3a;
  /* 본문 */
}