.home {
  min-height: 85vh;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 150px;
}


.home-inner {
  text-align: center;
}


.home-name {
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 0.08em;
  color: #2c4d3a;
}


.home-title {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #2c4d3a;
}


.home-title span {
  color: #2FA36B;
}


.home-desc {
  margin-top: 1.2rem;
  font-size: 1.15rem;
  line-height: 1.6;
  color: #2c4d3a;
}